.container{
  width:50%;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;

}

.assembly-input{
  display: flex;
  justify-content: center;
}

.assembly-add-item{
  display: flex;
}

.assembly-stages{
  display:flex;
  justify-content: space-between;
}

.assembly-stage{
  display:flex;
  flex-direction: column;
}
